*, *:after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// body {
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }

.nav-bg {
  border: 4px hidden orange;
  border-bottom-style: solid;
}

Nav {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: white;
  align-items: center;
  flex-direction: row;
  display: flex;
  .logo {
    width: 200px;
    height: 60px;
  }
  ul {
    display: flex;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-left: 800px;
  }
  a {
    text-decoration: none;
    color: black;
    
  }
  li {
    list-style-type: none !important;//remove underline
    padding: 20px;
  }
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown container */
.dropdown {
  float: left;
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: rgba($color: #000000, $alpha: 0.0);
  // filter: blur(10px);
}

.content {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  h1 {
    font-size: 45px;
  }
}

.about-bg {
  background-image: url("https://nicholasmorgandev.github.io/xdra/src/assets/flower-droplets.jpg");
  width: 100%;
  height:600px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  
}


.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  background-color: white;
  width: 50%;
  height: 55%;
  margin-left: 50px;
  h1 {
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 20px;
  }
  p {
    width: 70%;
    font-weight: 200;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
  }
}

.info1 {
  font-size: 20px;
  padding: 50px;
}

.principals {
  margin-top: 200px;
  margin-bottom: 50px;
  // background-color: purple;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  img {
    width: 40%;
    height: 100vh;
    margin-left: 50px;
  }
  section {
    background-color: rgb(253, 143, 100);
    color: black;
    width: 45%;
    height: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    padding: 20px;
    h1 {
      font-size: 50px;
      font-weight: 300;
    }
    p {
      font-weight: 200;
      font-size: 25px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.carousel-bg {
  width: 100%;

  background-color: lightcoral;
}
.button-bg {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  
  
  button {
    color: black;
    padding: 10px;
    background-color: orange;
  }
  button:hover {
    background-color: white;
    border: orange solid 1px;
  }
}

.rental-bg {
  background-image: url("https://nicholasmorgandev.github.io/xdra/src/assets/lays-flower.jpg");
  width: 100%;
  height: 500px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}


.rental {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;

  h1 {
    font-size: 35px;
    font-weight: 300;
  }
  p {
    font-weight: 200;
    font-size: 18px;
  }
}

.business-bg {
  background-image: url("https://nicholasmorgandev.github.io/xdra/src/assets/cycle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 88vh;
  position: absolute;
  
}

.business {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  width: 50%;
  height: 60%;
  margin-left: 50px;
  background-color: white;
  margin-top: 150px;
  h1 {
    font-size: 35px;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  p {
    width: 70%;
    font-weight: 200;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    padding-bottom: 40px;
  }
}

.choice {
  margin-top: 650px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 100px;
  margin-bottom: 100px; 
  h1 {
    font-size: 35px;
    padding-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}

footer {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  // padding: 10px;
  align-items: center;
  display: flex;
}